.logo-category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-nav {
    display: flex;
    align-items: center;
}

.category-nav a {
    margin: 10px;
}

.category-nav a.active {
    color:rgb(214, 3, 3);
}

.nav-logo {
    font-size: 30px;
    color:rgb(184, 7, 7);
    cursor: pointer;
    margin-bottom: 10px;
    font-style: italic;
}