.cart {
    margin: auto;
    margin-top: 40px;
    padding: 0 8px;
    width: 800px;
}

.cart-no-items-msg {
    margin: auto;
    margin-top: 0px;
    padding: 0 8px;
    width: 800px;
}

.cart-container {
    display: flex;
    flex-direction: row;
}

.cart-items-list{
    width: 900px;
}

.order-review {
    width: 500px;
}

.order-review-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.checkout-btn {
    color: white;
    background-color: black;
    border: none;
    /* height: 25px; */
    /* margin: auto; */
    margin-top: 20px;
    padding: 12px 12px;
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.checkout-btn.no-item {  
    background-color: rgb(168, 161, 161);
    cursor: not-allowed;
}


.cart-header {
    margin: auto;
    width: fit-content;
    font-size: 30px;
    margin-bottom: 25px;
}

.cart-img {
    width: 100px;
    box-shadow: 0px 0px 1px #b0b3b7, 0px 0px 2px #ced1d4;
}

.cart-item-button {
    min-width: 24px;
    height: 24px;
    background-color: white;
    margin-left: 8px;
    border: none;
}

.cart-item-button span {
    font-size: 20px
}


.cart-item {
    display: flex;
    /* flex-direction: column; */
    margin-bottom: 24px;
}

.cart-item img {
    margin-right: 20px;
}

.cart-item-header {
    width: 200px;
}
.cart-item input {
    width: 32px;
    height: 24px;
}

.cart-item-menu {
    width: 200px;
    display: flex;
    /* justify-content: flex-end;
    align-items: center; */
    margin-top: 8px;
}

/* .cart button[type="submit"] {
    height: 30px;
    font-size: 18px;
    padding: 0 16px;
} */

.cart form {
    display: flex;
    justify-content: flex-end;
}

input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    width: 20px;
    height: 20px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}