.cart {
    margin: auto;
    margin-top: 40px;
    padding: 0 8px;
    width: fit-content
}

.cart-no-items-msg {
    margin: auto;
    margin-top: 0px;
    padding: 0 8px;
    width: 1000px;
}

.cart-container {
    display: flex;
    flex-direction: row;
    width: 800px;
    /* margin: auto; */
}

.cart-items-list{
    width: 900px;
}

.order-review {
    width: 500px;
}

.order-review-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.checkout-btn {
    color: white;
    background-color: black;
    border: none;
    /* height: 25px; */
    /* margin: auto; */
    margin-top: 20px;
    padding: 12px 12px;
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.checkout-btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.checkout-btn.no-item {  
    background-color: rgb(168, 161, 161);
    cursor: not-allowed;
}


.cart-header {
    margin: auto;
    width: fit-content;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 30px;
}

.cart-img {
    width: 150px;
    height: 150px;
    float: left;
    object-fit: cover;
    box-shadow: 0px 0px 1px #b0b3b7, 0px 0px 2px #ced1d4;
    margin-right: 20px;
}

.cart-item-button {
    min-width: 24px;
    height: 24px;
    background-color: inherit;
    margin-left: 8px;
    border: none;
}

.cart-item-button.exceed-limit {
    cursor: not-allowed;
}

.cart-item-button.exceed-limit span {
    color:rgb(168, 161, 161)
}

.cart-item-button span {
    font-size: 18px
}


.cart-item {
    display: flex;
    margin-bottom: 24px;
}

.cart-item-header {
    width: 200px;
    padding-bottom: 15px;
}

.cart-item-price {
    padding-bottom: 5px;
}

.cart-item-menu {
    width: 200px;
    display: flex;
    margin-top: 8px;
}

.cart-item-menu select {
    width: 40px;
    height: 25px;
}

.cart-item-menu select:focus {
    outline: none;
}

.cart form {
    display: flex;
    justify-content: flex-end;
}


.add-to-bag-btn.exceed-limit {
    cursor: not-allowed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}