/* TODO Add site wide styles */
a {
    text-decoration: none;
    cursor: pointer;
    color: black
}
body {
    font-family: 'PT Sans', sans-serif;
    background-color: #faf9f8;
    /* font-family: 'Quicksand', sans-serif; */
}

button {
    cursor: pointer;
}

/* a:active {
    text-decoration: underline;
} */