.checkout-img {
    width: 120px;
    height: 120px;
    float: left;
    object-fit: cover;
    margin-bottom: 5px;
}
.cart-container.checkout {
    width: fit-content;
    margin: auto;
}

.order-review.checkout {
    margin-left: 20px;
    width: 285px;
    
}

.checkout-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    width: 560px;
    
}

.order-detail-items {
    /* background-color: white; */
    /* padding: 10px; */
}

.order-detail-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    /* background-color: white */
}

.order-detail-header {
    font-size: 18px;
    width: fit-content;
    margin: auto;
    margin-bottom: 18px;
}

.order-detail-name {
    width: fit-content;
    margin: auto;
}

.back-to-cart-link {
    position: absolute;
    left: 100px;
    top: 130px;
    display: flex;
}

.back-to-cart-link-text {
    padding-left: 5px;
    padding-top: 2px;
}

.checkout-shipping-container {
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    position: relative;
}

.checkout-shipping-header {
    width: fit-content;
    font-size: 18px;
    margin: auto;
    margin-bottom: 10px;
}

.checkout-shipping-address div{
    font-size: 14px;
    margin-bottom: 3px;
}

.redirect-msg-container {
    padding: 30px 30px 40px 30px;
    width: 280px;
}

.redirect-msg {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}