.sidebar-container {
    position: absolute;
    top: 250px;
    left: 15%;
    width: 256px;
    height: 100vh;
    background: #faf9f8;
}

.sidebar-menu {
    position: absolute;
    width: 256px;
    height: 240px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 26px;
    opacity: 1;
}

.sidebar-menu-item a.selected {
    color:rgb(160, 3, 3);
}

.sidebar-header {
    font-weight: bold;
}