.not-found-container {
    background-image: url("https://images.pexels.com/photos/907274/pexels-photo-907274.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    height: 700px;
    margin: auto;
    width: 1300px;
    margin-top: 20px;
}

.not-found-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
   padding-top: 150px;
    color: white;
}

.not-found-text-container .login-form-logo{
    font-size: 30px;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.not-found-msg {
    margin: auto;
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 18px;
}

.not-found-msg span {
    color: rgb(162, 2, 2)
}