.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 30px;
    /* padding: 30px 30px 40px 30px; */
    width: 1000px;
    margin: auto;
    margin-left: 5px;
    margin-top: 20px;
    padding-bottom: 100px;
}

.product-card {
    width: fit-content;
    cursor: pointer;
    position: relative;
}

.product-card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    float: left;
}

.summer-header.clothing {
    background-image: url("https://static.zara.net/photos///contents/mkt/spots/ss22-north-kids-babyboy/subhome-xmedia-23-2//w/2295/IMAGE-landscape-e12c37f2-e1b0-4f39-a940-a0c19863b753-default_0.jpg?ts=1654784960084");
}
.summer-header.accessories {
    background-image: url("https://images.pexels.com/photos/6393158/pexels-photo-6393158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.summer-header.furniture {
    background-image: url("https://images.pexels.com/photos/4933871/pexels-photo-4933871.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.summer-header.bath {
    background-image: url("https://images.pexels.com/photos/5490778/pexels-photo-5490778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.summer-header.bedding {
    background-image: url("https://images.pexels.com/photos/234137/pexels-photo-234137.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.summer-header.toys {
    background-image: url("https://images.pexels.com/photos/4964356/pexels-photo-4964356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.summer-header.decor {
    background-image: url("https://images.pexels.com/photos/7055937/pexels-photo-7055937.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.summer-header.search-results {
    background-image: url("https://images.pexels.com/photos/3661268/pexels-photo-3661268.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

@media only screen and (max-width: 1200px) {
    .products-project {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .products-project {
        grid-template-columns: repeat(1, 1fr);
    }
}