.login-form-container {
    width: 1200px;
    min-height: 700px;
    background-image: url("https://cdn.mos.cms.futurecdn.net/fQ9Q96MGxUVc85fZL7sPnQ-1280-80.jpg.webp");
    background-size: cover;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.login-form {
    margin: auto;
    width: 300px;
    min-height: 300px;
    height: auto;
    background-color: white;
    position: absolute;
    top: 160px;
    left: 400px;
    padding: 40px;
    /* padding-bottom: 20px; */
}

.signup-form {
    min-height: 400px;
    height: auto;
    top: 70px
}

.login-form-logo {
    font-family: 'Kalam', cursive;
    width: fit-content;
    margin: auto;
    color: rgb(171, 4, 4);
    font-size: 25px;
    margin-bottom: 20px;
}

.login-form input {
    font-family: inherit;
    width: 280px;
    padding-left: 10px;
    height: 30px;
    margin-top: 10px;
}

.login-form input::placeholder {
    color: black
}

.submit-group {
    margin-top: 15px;
}

.submit-group button {
    width: 297px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 2px;
}

#demo-btn {
    border: 1px solid black;
    background-color: white;
}

.login-btn {
    background-color: black;
    color: white;
    border: none;
}

.auth-form-link {
    margin: auto;
    margin-top: 15px;
    width: fit-content;
}

.auth-form-link span {
    color: rgb(167, 49, 9);
}

.auth-error {
    font-size: 11px;
    color:rgb(167, 49, 9);
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.auth-error span {
    font-size: 11px;
}