.home-page-container {
    width: 900px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ad-1 {
    height: 500px;
    background-image: url("../../images/ad-1.jpeg");
    background-size: cover;
}

.ad-1-text {
    margin: auto;
    width: fit-content;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ad-1-text h1 {
    color: white;
    font-size: 40px;
}

.ad-1-text button {
    background-color: white;
    /* border: 1px solid rgb(66, 63, 63); */
    border: none;
    border-radius: 2px;
    padding: 8px 12px;
    width: fit-content;
    margin: auto;
    font-family: inherit;
}

.ad-1-text button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.ad-1-text button:hover {
    /* background-color: rgb(203, 197, 197); */
    cursor: pointer;
}

.ad-donate {
    height: 150px;
    background-image: url("https://www2.hm.com/content/dam/hm/TOOLBOX/Local%20Activities/2021_s03/april/8343_LocalActivation_Summer21_SB_02-3x1.jpg");
    background-size: cover;  
    margin-top: 10px;
    margin-bottom: 10px;
}

.ad-donate-text {
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ad-donate p {
    width: 650px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
    /* font-weight: bold; */
}

.ad-donate a {
    background-color: white;
    border: none;
    border-radius: 2px;
    padding: 8px 12px;
    width: fit-content;
    margin: auto;
}

.ad-2 {
    height: 450px;
    background-image: url("https://images.pexels.com/photos/3617850/pexels-photo-3617850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
}

.ad-2-text {
    padding-top: 250px;
}
.ad-2-text h1 {
    font-size: 45px;
    color: rgb(228, 31, 10);
    font-family: 'Kalam', cursive;
}