.my-review-container {
    display: flex;
    margin-bottom: 10px;
}


.review-img {
    width: 300px;
    margin-right: 20px;
}

.review-product-name {
    font-size: 16px;
    margin-bottom: 15px;
}

.review-content {
    font-size: 16px;
    background-color: white;
    padding: 10px;
}