.my-review-container {
    display: flex;
    margin-bottom: 10px;
}


.review-img {
    width: 300px;
    margin-right: 20px;
}

.review-product-name {
    font-size: 16px;
    margin-bottom: 15px;
}

.review-content {
    font-size: 16px;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    width: 285px;
    position: relative;
    overflow-wrap: break-word;
}

.review-content div {
    width: 220px;
    font-size: 14px;
}

.edit-review-btns-container {
    position: absolute;
    right: -175px;
    top: 5px;
}

.review-content-container {
    position: relative;
}

.review-form.edit {
    position: absolute;
    top: 30px
}